.cabesa {
   align-items: center;
   display: flex;
   justify-content: space-between;
   height: 65px;
   margin: 0 2rem;
}
.cabesa__logo {
   background-image: url("../assets/icons/6524.png");
   background-size: cover;
   width: 60px;
   height: 60px;
}
.cabesa__anc {
   text-decoration: none;
   font-weight: bold;
}
.cabesa__anc:hover {
   text-decoration: underline;
}